@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade.ng-enter {
  animation: 1s appear;
}

.fade.ng-leave {
  animation: 0.5s disappear;
}
.fade.ng-hide-remove {
  animation: 1s appear;
}

.fade.ng-hide-add {
  animation: 0.5s disappear;
}
.fade{
    opacity: 1; 
}